#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.collection-form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.collections {
  display: grid;
  width: 650px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.collections li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: white;
  bottom: 1px solid white;
  border-radius: 20px;
}

.collections li:hover {
  background: #ffc8dd;
  cursor: pointer;
}