#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Collection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards-form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.cards {
  display: grid;
  width: 650px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.cards-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: white;
  bottom: 1px solid white;
  border-radius: 20px;
  position: relative;
}

.cards-item:hover {
  background: #ffc8dd;
  cursor: pointer;

  .cards-title, .cards-delete {
    color: #812245;
  }
}

.cards-delete {
  position: absolute;
  font-size: 12px;
  top: 5px;
  right: 5px;
  border: none; 
  background: transparent; 
  cursor: pointer;
  color: #ffafcc;
}



.cards-title {
  font-size: 20px;
  color: #ffafcc;
}
